body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
section {
    display: flex;
    margin-bottom: 150px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.main-heading{
    font-size: 50px;
    font-weight: 700;
}
h1 {
    font-size: 50px;
    font-weight: 500;
}
h2 {
    font-weight: 500;
}
p {
    text-align:justify;
}
span {
    color: orange;
}
.half-width {
    width: 50%;
    padding: 0 5%;
}
.half-width img {
    width: 90%;
}
.link-button {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(45deg, rgb(252, 179, 45), rgb(253, 51, 51));
    font-weight: 700;
    color: white;
    border-radius: 5px;
}