body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.flexibla-container {
    display: flex;
    margin-bottom: 150px;
}


/* Baground Images */
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.bottom-banner {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.main-heading{
    font-size: 50px;
    font-weight: 700;
}
h1 {
    font-size: 50px;
    font-weight: 500;
}
h2 {
    font-weight: 500;
}
p {
    text-align:justify;
}
span {
    color: orange;
}
.half-width {
    width: 50%;
    padding: 0 7%;
}
.half-width img {
    width: 100%;
}
.link-button {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(45deg, rgb(252, 179, 45), rgb(253, 51, 51));
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
.experience-item {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);
    margin: 50px;
    padding: 0% 4% 2%;
    
}
#experience-item-1 {
    border-left: 10px solid;
    border-image: linear-gradient(tomato, rgba(248, 137, 155, 0.486));
    border-image-slice: 1;
}
#experience-item-2 {
    border-left: 10px solid;
    border-image: linear-gradient(blue, rgb(113, 216, 250) );
    border-image-slice: 1;
}
footer {
    width: 25%;
    margin: 5% auto;
}